* {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  width: 970px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: #ddd;
}

.file-form {
  position: relative;
  padding: 40px;
  border: 2px dashed #ccc;
}

.file-form:hover {
  border-color: #454545;
}

.file-form.highlight {
  border-color: #454545;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  color: #454545;
}

#fileInput {
  display: none;
}

#uploadedImage {
  margin-top: 10px;
  max-height: 750px;
  overflow-y: auto;
}

#uploadedImage img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.d-none {
  display: none !important;
}

#actionContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#actionContainer input {
  padding: 10px;
  border: none;
  outline: none;
  margin-right: 5px;
}

#actionContainer button {
  background-color: #aaa;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  padding: 10px;
}
#actionContainer button:active {
  background-color: #454545;
  transform: scale(1.1);
}
#actionContainer button:hover {
  background-color: #454545;
}
.image-content {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.image-content img {
  transition: 1s;
}
.image-content:hover img {
  filter: blur(2px);
}
.image-content:hover::after{
  content: 'X';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  background: #454545;
  padding: 1rem;
  border-radius: 50%;
  line-height: 1rem;
  z-index: 1;
}